body{
    background:#111;
    color:white;
    font-family:Poppins,sans-serif;
    padding:40px;
}

.panel{
    background:#1d1d1d;
    padding:20px;
    border-radius:15px;
}

h1{
    margin-bottom:20px;
}
