*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    line-height:1.6;
}

/* NAV PREMIUM */
header{
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.85);
    backdrop-filter:blur(10px);
    padding:18px 0;
    border-bottom:1px solid #1f1f1f;
    z-index:1000;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:20px;
}

/* MENÚ PREMIUM */
nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:14px;
    opacity:0.8;
    transition:0.3s;
}

nav ul li a:hover{
    color:#25D366;
    opacity:1;
}

/* HERO PREMIUM */
.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;

    background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
    url("assets/portada.jpg");

    background-size:cover;
    background-position:center;
}

.hero h2{
    font-size:55px;
}

.hero h3{
    color:#25D366;
    margin:15px 0;
    font-weight:400;
}

.hero p{
    max-width:600px;
    margin:auto;
    opacity:0.8;
}

/* BOTÓN */
.boton{
    display:inline-block;
    background:#25D366;
    color:white;
    padding:12px 25px;
    margin-top:20px;
    border-radius:8px;
    text-decoration:none;
    transition:0.3s;
}

.boton:hover{
    transform:translateY(-3px);
    background:#1faa52;
}

/* SECCIONES */
.pagina{
    padding:140px 10%;
    border-top:1px solid #1f1f1f;
}

h2{
    font-size:30px;
    margin-bottom:25px;
    border-left:4px solid #25D366;
    padding-left:10px;
}

/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

/* CARDS PREMIUM */
.card{
    background:rgba(255,255,255,0.04);
    padding:25px;
    border-radius:12px;
    border:1px solid rgba(255,255,255,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    border-color:#25D366;
}

/* FOOTER */
footer{
    text-align:center;
    padding:30px;
    background:#000;
    opacity:0.7;
}

/* SCROLL */
html{
    scroll-behavior:smooth;
}
