body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

header{
    background:black;
    padding:20px;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

section{
    padding:50px;
}

h1,h2{
    color:white;
}

a{
    color:#00d4ff;
}
